/* black background */
body {
    /*background-color: darkslategray;*/
    /*background-color: darkred;*/
    /*background-color: brown; */
    /*background-color: black;*/
    animation: alternate-background 3s infinite;

    /* font size 5 */
    font-size: 40px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'Dosis', sans-serif;
    height: 100%;
    margin: 0;

}


@keyframes alternate-background {
    0% {
        background-color: black;
    }
    50% {
        background-color: darkred;
    }
    100% {
        background-color: black;
    }
}

/* white text */
h1 {
    color: #ffffff;
}

/* white font on paragraphs */
p {
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* div class "content" has 100 left and right margins */
.pic {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.img {
    border: 2px solid #ffffff;
    border-radius: 12px;
}

.flex-container {
    display: flex;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.flex-spotify {
    flex: 1;
    padding: 0px;
    border-radius: 12px;
    margin-right: 2%;
}

.flex-booking {
    padding: 2% 5%;
    border: 2px solid #ffffff;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    margin-bottom: 1% /* because spotify troll */
}
/* dark scroll bar
::-webkit-scrollbar {
    width: 10px;
}
*/

.f {
    float: right;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.diggs {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
