/* black background */
body {
    /*background-color: darkslategray; */
    /*background-color: darkred; */
    /*background-color: brown; */
    background-color: black;

    /* font size 5 */
    font-size: 23px;
}

/* white text */
h1 {
    color: #ffffff;
}

/* white font on paragraphs */
p {
    color: #ffffff;
}

/* links white, but bold when hovered over */
a {
    color: #ffffff;
}

/* div class "content" has 100 left and right margins */
.content {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

/* cool border on the image */
.img {
    border: 2px solid #ffffff;
}

.f {
    /* floating content */
    float: right;
    margin-top: 200px;
    font-size: 20px;
}
